body {
    margin: 0;
    padding: 0;
    background: #e1dcc5;
}
.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
header {
    height: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    place-items: center;
    padding: 20px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo svg {
    height: 50px;
    width: 50px;
}
.logo span {
    font-size: 2.5rem;
    font-weight: bold;
    cursor: default;
}
.btn > button:nth-child(1) {
    font-size: 1.2rem;
    background: none;
    border: none;
    cursor: pointer;
}
.btn > button:nth-child(2) {
    font-size: 1.2rem;
    color: white;
    background: #0376b8;
    border: none;
    border-radius: 6px;
    height: 35px;
    cursor: pointer;
}

main {
    /* height: 300px; */
    border-radius: 10px;
    background: #fcfbf7;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    padding: 40px;
    gap: 10px;
}
.card {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    padding: 5px;
    font-size: 2rem;
}
.edit {
    text-align: center;
    width: 80%;
    border-radius: 10px;
    color: white;
    background: #0376b8;
    cursor: pointer;
}
.remove {
    text-align: center;
    width: 80%;
    border-radius: 10px;
    background: red;
    cursor: pointer;
}
/* //////////////////////////// */
.model {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 200px;
    height: 300px;
    border-radius: 10px;
    text-align: end;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    transition: .2s;
}
.model > div:nth-child(1) {
    display: flex;
    gap: 26px;
}
.closeBtn {
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    rotate: 45deg;
}
.overlay-active {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: 0.5s ease;
    pointer-events: none;
    opacity: 1;
}
.read {
    font-size: 1.2rem;
}
.addBook {
    height: 40px;
    width: 85%;
    color: white;
    background: #0376b8;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
/* ///////////////////// */
.addBtn {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #0376b8;
    font-size: 4rem;
    position: fixed;
    bottom:5%;
    right: 10%;
    cursor: pointer;
    transition: .2s;
}
footer {
    font-size: 1.2rem;
    bottom: 10px;
    width: 100%;
    padding: 20px;
    text-align: center;
}